<div class="col">
  <div class="card h-100 shadow-sm">
    <a routerLink="/product/{{ product.id }}">
      <img src="{{ product.image_url }}" class="card-img-top" alt="..." loading="lazy">
    </a>
    <div class="card-body">
      <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">
          {{ product.category }}</span>
        <span class="float-end price-hp">{{ product.price }} €</span>
      </div>
      <a class="text-black text-decoration-none" routerLink="/product/{{ product.id }}">
        <p class="text-truncate"> {{ product.name }} </p>
      </a>
      
    <div *ngIf="access_token">
      <div class="d-flex justify-content-center mb-2">
        <div class="def-number-input number-input safari_only mb-0">
          <form #form="ngForm">
            <button type="button" (click)="stepDown()" class="minus">
              <i class="fa fa-minus"></i>
              </button>
              <input class="quantity" min="1" name="quantity" value="1" type="number" readonly [(ngModel)]="quantity"
                #productQuantity="ngModel">
              <button type="button" (click)="stepUp()" class="plus">
              <i class="fa fa-plus"></i>
              </button>
              </form>
              </div>
      </div>
      
      <div class="text-center my-4">
        <button type="button" class="w-100 btn btn-lg btn-primary" (click)="addToCart()">
          <i class="fa fa-shopping-cart me-2"></i>
          Add to cart
        </button>
      </div>
    </div>
    </div>
  </div>
</div>

<style lang="scss">
  .card {
    background: #fff;
    box-shadow: none;
  }

  .card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px)
  }

  .card-img-top {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    padding: 30px
  }

  .card h2 {
    font-size: 1rem
  }

  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
  }

  @media (max-width: 768px) {
    .card-img-top {
      max-height: 250px
    }
  }

  .price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray
  }
</style>