<div class="col">
  <div class="card h-100 shadow-sm">
    <a routerLink="/product/{{ product.id }}">
      <img src="{{ product.image_url }}" class="card-img-top" alt="..." loading="lazy">
    </a>
    <div class="card-body">
      <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">
          {{ product.category }}</span>
        <span class="float-end price-hp">{{ product.price }} €</span>
      </div>
      <a routerLink="/product/{{ product.id }}">
        <p> {{ product.name }} </p>
      </a>

      <!-- <h5 class="card-title">
        {{ product.description }}
      </h5> -->
      <hr>
      
    <div *ngIf="access_token">
      <div class="table-responsive mb-2">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td class="pl-0 pb-0 w-25">Quantity</td>
            </tr>
            <tr>
              <td class="pl-0">
                <div class="def-number-input number-input safari_only mb-0">
                  <form #form="ngForm">
                    <button type="button" (click)="stepDown()" class="minus">
                      <span class="minus-icon"></span>
                    </button>
                    <input class="quantity" min="1" name="quantity" value="1" type="number" [(ngModel)]="quantity"
                      #productQuantity="ngModel">
                    <button type="button" (click)="stepUp()" class="plus">
                      <span class="plus-icon"></span>
                    </button>
                  </form>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="text-center my-4"> <a href="#" class="btn btn-warning" (click)="addToCart(product)">Add to cart</a> </div>
    </div>
    </div>
  </div>
</div>

<style lang="scss">
  .card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem
  }

  .card-img,
  .card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px)
  }

  .card h5 {
    overflow: hidden;
    height: 56px;
    font-weight: 900;
    font-size: 1rem
  }

  .card-img-top {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    padding: 30px
  }

  .card h2 {
    font-size: 1rem
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
  }

  .label-top {
    position: absolute;
    background-color: #8bc34a;
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase
  }

  .top-right {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #ff5722;
    line-height: 90px;
    text-align: center;
    color: white
  }

  .top-right span {
    display: inline-block;
    vertical-align: middle
  }

  @media (max-width: 768px) {
    .card-img-top {
      max-height: 250px
    }
  }

  .over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px
  }

  .btn {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px
  }

  .box .btn {
    font-size: 1.5rem
  }

  @media (max-width: 1025px) {
    .btn {
      padding: 5px 40px 5px 40px
    }
  }

  @media (max-width: 250px) {
    .btn {
      padding: 5px 30px 5px 30px
    }
  }

  .btn-warning {
    background: none #f7810a;
    color: #ffffff;
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
    border-radius: 100px
  }

  .btn-warning:hover {
    background: none #ff962b;
    color: #ffffff;
    box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35)
  }

  .bg-success {
    font-size: 1rem;
    background-color: #f7810a !important
  }

  .bg-danger {
    font-size: 1rem
  }

  .price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray
  }

  .amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray
  }

  .fa-question-circle:before {
    color: darkgray
  }

  .fa-plus:before {
    color: darkgray
  }

  .box {
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12)
  }

  .box-img {
    max-width: 300px
  }

  .thumb-sec {
    max-width: 300px
  }

  @media (max-width: 576px) {
    .box-img {
      max-width: 200px
    }

    .thumb-sec {
      max-width: 200px
    }
  }

  .inner-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 1px;
    display: inline-block;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover
  }

  @media (max-width: 370px) {
    .box .btn {
      padding: 5px 40px 5px 40px;
      font-size: 1rem
    }
  }

  .disclaimer {
    font-size: .9rem;
    color: darkgray
  }

  .related h3 {
    font-weight: 900
  }

  footer {
    background: #212529;
    height: 80px;
    color: #fff
  }

  .number-input.number-input {
    border: 1px solid #ced4da;
    width: 8.6rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
  }

  .number-input.number-input button.minus {
    padding-left: 10px;
  }

  .number-input button span:before,
  .number-input button span:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .number-input.number-input button span:before,
  .number-input.number-input button span:after {
    width: .7rem;
    background-color: #495057;
  }

  .number-input button.plus span:after {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .number-input input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .number-input.number-input input[type=number] {
    max-width: 3rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
    text-align: center;
  }

  .number-input.number-input button {
    width: 2.5rem;
    height: .7rem;
  }
</style>