<main class="form-signin text-center">
  <form #loginForm="ngForm" [formGroup]="form" (submit)="submitLogin()">
    <h1 class="h3 mb-3 fw-normal">Sign in</h1>

    <div class="form-floating">
      <input name="email" formControlName="email" type="email" class="form-control" placeholder="name@example.com" required>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input name="password" formControlName="pass" type="password" class="form-control" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" [disabled]="loginForm.invalid" type="submit">Sign in</button>
  </form>
</main>